.toggle-enter,
.toggle-leave-active {
    opacity: 0;
    transform: translateY(-10px);
}

.toggle-enter-active,
.toggle-leave-active {
    transition: all ease .2s;
}

.jelly {
    position: relative;
}

.jelly:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}