// -------- Colors -----------
$primary-color          : #1ab394;
$info-color : #ff9900;
$success-color : $primary-color;
$processing-color : $primary-color;
$error-color : #f5222d;
$highlight-color : #f5222d;
$warning-color : #ff503f;
$normal-color : #666;
