.#{$prefix} {
  &-selectRoom {
    .mui-selectRoom-tips {
      color: #666;
      font-size: $font-size-normal;
      margin-bottom: 12px;
    }
    .mui-selectRoom-box {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 16px;
    }
    .mui-selectRoom-left {
      flex: 1;
    }
    .mui-selectRoom-right {
      width: 250px;
      margin-left: 10px;
    }
    .mui-selectRoom-left,
    .mui-selectRoom-right {
      height: 100px;
      padding: 16px;
      border: 1px solid $color-border;
      overflow: hidden;
      overflow-y: auto;
      .el-tag {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .mui-selectRoom-table {
      display: block;
      width: 100%;
      overflow: hidden;
      .el-table .cell {
        color: #333;
        font-size: $font-size-normal;
      }
      .el-table--border td .cell {
        padding: 0;
      }
      .el-table td {
        padding: 0;
        border-bottom-width: 0;
      }
      .el-table--enable-row-hover .el-table__body tr:hover > td {
        background-color: transparent;
      }
    }
    .mui-selectRoom-list {
      display: block;
      height: 280px;
      overflow: hidden;
      overflow-x: auto;
    }
    .mui-selectRoom-item {
      padding: 6px 14px;
      &:hover,
      &.active {
        background-color: #f5f7fa;
      }
    }
    .mui-selectRoom-unit {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 12px 12px 0;
      border-bottom: 1px solid #ebeef5;
      &:first-child {
        padding-top: 0;
        border-right: 1px solid #ebeef5;
      }
    }
    .mui-selectRoom-unit_item {
      margin-right: 16px;
      margin-bottom: 12px;
    }
  }
}
