.#{$prefix} {
  &-selectUsers {
    .el-table-column--selection > .cell {
      padding-left: $table-cell-gap;
      padding-right: $table-cell-gap;
    }
    .mui-selectUsers-tips {
      font-size: $font-size-normal;
      color: #000;
      margin-bottom: 12px;
    }
    .mui-selectUsers-batch {
      width: 100%;
      .el-icon-arrow-up.el-input__icon {
        transform: rotateZ(0) !important;
        &::before {
          content: "\E778";
        }
      }
    }
    .mui-selectUsers-box,
    .mui-selectUsers-search {
      display: flex;
      width: 100%;
      margin-top: 12px;
    }
    .mui-selectUsers-search {
      display: block;
      .el-select__tags {
        max-height: 100px;
        overflow: hidden;
        overflow-y: auto;
      }
      .el-select__input {
        color: #666;
        &::placeholder {
          color: #c0c4cc;
        }
      }
    }
    .mui-selectUsers-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid $color-border;
      overflow: hidden;
      &:first-child {
        width: 240px;
        border-right-width: 0px;
      }
    }
    .mui-selectUsers-item_header {
      display: block;
      padding: 10px 15px;
      color: #333;
      font-size: $font-size-normal;
      border-bottom: 1px solid $color-border;
      background-color: $color-bg;
    }
    .mui-selectUsers-item_body {
      height: 330px;
      max-height: 330px;
      overflow: hidden;
      overflow-y: auto;
    }
    .mui-selectUsers-tree {
      display: block;
      width: 100%;
    }
  }
}

.mui-selectUsers-options {
  display: flex;
  width: 100%;
  .mui-selectUsers-options_item {
    display: inline-block;
    max-width: 600px;
  }
}
