@media (min-width: 1440px) {
  .has-anchor .page {
    padding-right: 200px !important;
  }
}

.has-anchor .page .page-title,
.has-anchor .page .page-edit,
.has-anchor .page .page-nav {
  max-width: 100%;
}

.has-anchor .theme-default-content:not(.custom) {
  max-width: 100%;
}

.anchor-place-holder {
  z-index: 9;
}

.anchor-place-holder #anchor {
  left: calc(100% + 120px);
  max-width: 10rem;
}

.code-demo-wrapper:not(:last-child) {
  margin-bottom: 48px;
}

.theme-default-content .code-wrapper .code> div[class*='language-'] .copy-code-button {
  bottom: 16px;
  right: 0;
}

.code-demo-footer .code-demo-jsfiddle, .code-demo-footer .code-demo-codepen {
  margin-right: 16px;
}

.code-demo-footer {
  display: flex;
}

.code-demo-footer .expand {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-demo-footer .expand::before {
  position: static;
  transform: unset;
}

.code-demo-footer .expand:hover::after {
  color: var(--accent-color)
}

.code-demo-footer.show-link .expand::after {
  content: "隐藏代码";
}

.code-demo-footer .expand::after {
  content: "展示代码";
  display: block;
  margin-left: 16px;
  color: var(--light-grey, #999)
}

.code-demo-wrapper .mui-button {
  margin-bottom: 16px;
}

.sidebar-links .sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable) {
  font-weight: normal;
  font-size: 14px;
  color: var(--light-grey, #999);
}

.sidebar-links a.sidebar-link { 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}

.sidebar-links a.sidebar-link.active {
  font-weight: normal;
  color: var(--accent-color);
}