.modal {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .modal-mask {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        min-width: 360px;
        box-shadow: 0 1px 8px 0 rgba(0, 30, 24, 0.05);
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
    }

    .modal-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 44px;
        font-size: 18px;
        padding: 0 20px;
        font-weight: 500;
        color: #fff;
        background-color: $primary-color;
        z-index: 9999;

        .closed {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 12px;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            color: #fff;
            transform: translateY(-50%);
        }

        &.modal-plain {
            background-color: rgba(245,
                    245,
                    245,
                    1);
            color: $primary-color;

            .closed {
                color: $info-color;
            }
        }
    }

    .modal-body {
        display: block;
        flex: 1;
        flex-basis: auto;
        background-color: #fff;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .modal-footer {
        display: block;
        width: 100%;
        padding: 20px 30px;
        text-align: center;
        background-color: #fff;
    }
}

.text-tips {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #333;
    height: 100px;
    padding: 40px 60px;
}