:root {
  --color-primary: #1f93ff;
  --color-primary-light: #e9f4ff;
  --color-warning: #e6a23c;
  --color-warning-light: rgba(230, 162, 60, 0.1);
  --color-danger: #f56c6c;
  --color-danger-light: rgba(245, 108, 108, 0.1);
  --color-text-primary: #333333;
  --color-text-regular: #666666;
  --color-text-secondary: #999999;
  --background-color-base: #f3f4f5;
  --background-color-bg: #ffffff;
  --code-color-bg: #ecf4fa;
  --code-color-text: #5e6d82;
  --aside-width-base: 240px;
  --header-height-base: 60px;
}

*,
* :after,
* :before {
  outline: 0;
  box-sizing: border-box;
}

body {
  a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-primary);
  }

  // 修改css滚动栏的样式
  // 纵向滚动条的和横向滚动条的宽度
  *::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  // 滚动条颜色
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: var(--color-primary);
  }

  // 滚动栏颜色
  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: hsla(0, 0%, 98%, 0.9);
  }
}

.vue-codemirror {
  height: 100%;
  .CodeMirror {
    height: 100%;
  }
}

blockquote {
  border-left: 4px solid var(--color-primary);
  padding: 8px 16px;
  margin: 20px 0;
  color: var(--color-text-regular);
  background-color: var(--color-primary-light);
  > p {
    margin: 0;
  }
}

.warning {
  border-left: 4px solid var(--color-danger);
  padding: 8px 16px;
  margin: 20px 0;
  color: var(--color-text-regular);
  background-color: var(--color-danger-light);
  > p {
    margin: 0;
  }
}

.tip {
  border-left: 4px solid var(--color-warning);
  padding: 8px 16px;
  margin: 20px 0;
  color: var(--color-text-regular);
  background-color: var(--color-warning-light);
  > p {
    margin: 0;
  }
}

.demo-container {
  & > table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 45px;
    line-height: 1.5em;
    td:first-child,
    th:first-child {
      padding-left: 10px;
    }
    td,
    th {
      border-bottom: 1px solid $--border-color-base;
      padding: 15px;
      max-width: 250px;
    }
    td {
      color: $--color-text-primary;
    }
  }
}

.transTop-enter-active,
.transTop-leave-active {
  transition: all 600ms;
}
.transTop-enter {
  opacity: 0;
  transform: translateY(10px);
}
.transTop-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
