// 样式前缀
$prefix: "mui";

/* 全局状态样式 */

/* 主题色 */
// 背景色
$color-bg: #f5f7fa;
// 主色调
$color-primary: #409eff;
// 边框色
$color-border: #dcdfe6;

/* 字体 */
// 普通字体
$font-size-normal: 14px;

/* 间距 */
// 表格复选框间距
$table-cell-gap: 14px;

